#about-page {
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro,
.education {
  text-align: left;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  height: 60px;
  width: 60px;
  cursor: pointer;
  /* display: flex;
  flex-direction: row; */
  display: block;
  float: inline-end;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
  margin: 5px;
}

.social-icons a svg {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
a:hover {
  color: white !important;
}
.contact {
  margin-top: 30px;
}
.email {
  color: #8c8c8c;
}
.address {
  color: #2f89fc;
  margin-left: 5px;
}
