#home-page {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.intro-content {
  padding-top: 100px;
}
.intro-content p {
  /* text-align: left; */
  color: white;
  font-size: 2em;
  /* animation: type 4s steps(60, end); */
}
/* @keyframes type {
  from {
    width: 0;
  }
} */
.intro-content span {
  color: grey;
  font-size: 2em;
  margin-bottom: 10px;
}
.intro-content button {
  border: transparent;
  border-radius: 5px;
  font-size: 1.4em;
}
.mid-page {
  letter-spacing: 0.3ch;
  padding: 12%;
  font-size: 14px;
  color: gray;
}
.name {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
