#home-page {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  margin-top: 200px;
}

.intro-content {
  text-align: center;
}
.intro-content p {
  /* text-align: left; */
  color: white;
  font-size: 2em;
  /* animation: type 4s steps(60, end); */
}
/* @keyframes type {
  from {
    width: 0;
  }
} */
.intro-content span {
  color: grey;
  font-size: 2em;
  margin-bottom: 10px;
}
.intro-content button {
  border: transparent;
  border-radius: 5px;
  font-size: 1.4em;
}
.mid-page {
  letter-spacing: 0.3ch;
  padding: 12%;
  font-size: 14px;
  color: gray;
}
.name {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.find {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  color: red !important;
  font-size: 24px;
}
.modal-form input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
}
.modal-form input:first-child {
  margin-right: 8px;
}
textarea {
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
}
.message {
  margin-top: 10px;
}
.submit-btn {
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-top: 10px;
}
.close-btn {
  border: none;
  background: none;
  color: grey;
  font-size: 18px;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}
