#works-page {
  height: 100vh;
}
.works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.works ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.works ul li {
  list-style: none;
  text-align: center;
  margin: 12px;
  font-size: 24px;
  color: white;
}
