#works-page {
  height: 100vh;
}
.works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.works ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.works ul li {
  list-style: square;
  text-align: center;
  margin: 12px 12px 12px 20px;
  font-size: 24px;
  color: white;
  /* font-family: "Architects Daughter", cursive; */
  font-family: "IBM Plex Mono", monospace;
}
